body {
    background-color: #F2F2F2;

}

.container {
    background-color: #F2F2F2;
    /* margin-top: 50px; */
    width: auto;
    height: 600px;

    text-align: center;
    justify-content: center;
}

.panel {
    /* margin-top: 100px; */
    width: 100%;

    text-align: center;
    justify-content: center;



}

.container-code {
    margin: 50px 50px;

}

.txt-area-code {

    /* resize: none;
    width: 100%;
    height: 100%;
    background-color: white;

    color: #793862; */
}



.txt-area-result {

    resize: none;
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;
    color: limegreen;


}

.navbar-brand {
    margin-left: 100px;
}


@media (max-width: 600px) {
    .navbar-brand {
        margin-left: -100px;
    }
}



@media(max-width: 900px) {
    .txt-area-code {

        resize: none;
        width: 100%;
        height: 270px;
        background-color: white;
        color: #4E5A92;
    }

    .container-code {
        /* margin: 20px 20px; */

    }


    .txt-area-result {

        resize: none;
        width: 100%;
        height: 270px;
        background-color: black;
        color: lime;
    }
}

.navbar {
    background-color: #8892BF;
}


.btn_primary {
    background-color: #4E5A92;
    color: white;
    width: 100px;
    height: 50px;

}

.btn_primary:hover {
    background-color: #8892BF;
    transition: 1s;
}



.btn_secondary {
    background-color: #793862;
    color: white;
    width: 100px;
    height: 50px;

}

.btn_secondary:hover {
    background-color: #793862bd;
    transition: 1s;
}


.radius-left {
    border-radius: 15px 0px 0px 15px;
}

.radius-right {
    border-radius: 0pc 15px 15px 0px;
}

/* Arbol */

.draw button {
    color: white;
    background-color: green;
    border-radius: 15px 15px 15px 15px;
}

#mynetwork {
    resize: none;
    width: 50%;

    background-color: #8892bf2f;
    color: limegreen;

}


.title-container {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.title {
    /* letter-spacing: 200px; */
    letter-spacing: 0.8em;
    color: black;

    text-indent: 0.8em;
    text-transform: uppercase;

    text-align: center;
    /* font-weight: bold; */
    margin: 50px 10px;
    font-size: 50px;


    /* text-shadow: -8px 0px #79386244; */
}